<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Downloader</title>
</head>
<body>
    <h1>YouTube Video Downloader</h1>
    <input type="text" id="videoLink" placeholder="Enter YouTube video URL" style="width: 70%;">
    <button id="downloadButton">Download</button>
    <p id="downloadStatus"></p>

    <select id="resolution">
        <option value="highest">Highest Resolution</option>
        <option value="720p">720p</option>
        <option value="480p">480p</option>
    </select>
    <label for="mp3Checkbox">Download as MP3</label>
    <input type="checkbox" id="mp3Checkbox">
    

    <script src="main.js"></script>
</body>
</html>
